<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      URL Shortener Microservice
    </h1>
    <h4>
      Example request
    </h4>
    <p>
      https://brainy-crate.glitch.me/new?url=https://github.com/mclintprojects/timestamp-microservice
    </p>
    <h4>
      Example response
    </h4>
    <code>
      {"original_url":"https://github.com/mclintprojects/timestamp-microservice","short_url":"https://brainy-crate.glitch.me/sXgs"}
    </code>
    <br><br>
    <p>
      Using <strong>https://brainy-crate.glitch.me/sXgs</strong> will now redirect to <strong>https://github.com/mclintprojects/timestamp-microservice.</strong>
    </p>
  </body>
</html>
